@import "../../../../assets/scss/params.scss";

.long-text-container{
  margin: 0 0 0.625em 0;
}
.long-text-body{
  overflow: hidden;
  position: relative;
}
// .long-text-body-ltr:after{
//   content: "\02026";
//   box-sizing: content-box;
//   position: absolute;
//   bottom: -0.2em;
//   right: 0;
//   margin-top: -0.008em;
//   padding-right: 0.3em;
//   text-align: right;
// }
// .long-text-body-rtl:after{
//   content: "\02026";
//   box-sizing: content-box;
//   position: absolute;
//   bottom: -0.2em;
//   left: 0;
//   margin-top: -0.008em;
//   padding-right: 0.3em;
//   text-align: right;
// }
.clicky-element{
  cursor: pointer;
}

.long-text-section-expander{
  border-bottom: 1px solid $table-row-border-color;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  cursor: pointer;
  margin: 1em 0 0 0;
}
.long-text-section-expander-button{
  position: relative;
  width: 4.375em;
  background-color: $menu-background-color;
  color: $background-color;
  font-weight: bold;
  padding: 0.5em 0 0.3em 0;
  text-align: center;
}
.long-text-expand-button:after{
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 1.7em;
  border-right: 0.5em solid transparent;
  border-left: 0.5em solid transparent;
  border-top: 0.5em solid $background-color;
}
.long-text-collapse-button:after{
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -0.5em;
  left: 1.7em;
  border-right: 0.5em solid transparent;
  border-left: 0.5em solid transparent;
  border-bottom: 0.5em solid $menu-background-color;
}
.long-text-container:hover .long-text-collapse-button:after, .long-text-container:focus .long-text-collapse-button:after{
  border-bottom: 0.5em solid $malkar-people-expand-button-hover-color;  
}
.long-text-container:hover .long-text-section-expander-button, .long-text-container:focus .long-text-section-expander-button{
  background-color: $malkar-people-expand-button-hover-color;  
  border-bottom: 0.2em solid $long-text-underline-color;
  padding-bottom: 0.1em;
}

.long-text-section-small-expander{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  cursor: pointer;
}
.long-text-section-expander-small-button{
  position: relative;
  width: 1em;
  height: 1em;
  border: 1px solid $table-row-border-color;
  // font-weight: bold;
  // padding: 0.5em 0 0.3em 0;
  // text-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: center;
}
.expander-caret{
  width: 0.375em;
  height: 0.375em;
  border-left: 2px solid $menu-background-color;
  border-bottom: 2px solid $menu-background-color;
  position: absolute;
  top: 0.125em;
}
.expander-caret-down{
  transform: rotate(-45deg);
}
.expander-caret-up{
  transform: rotate(135deg);
  top: auto;
  bottom: 0.125em;
}
.long-text-container:hover, .long-text-container:focus{
  outline: none;
}
.long-text-container:hover .long-text-section-expander-small-button, .long-text-container:focus .long-text-section-expander-small-button{
  border-color: transparent;
  background-color: $menu-background-color;
}
.long-text-container:hover .expander-caret, .long-text-container:focus .expander-caret{
  border-left-color: white;
  border-bottom-color: white;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .expander-caret{
    left: 0.25em;
  }
}

@media only screen and (max-width: 641px){
  .long-text-container{
    margin-bottom: 0;
  }
}