@import "../../../assets/scss/params.scss";

h2{
  font-size: 1.5em;
  font-weight: bold;
  color: $malkar-info-h2-color;
  border-right: 4px solid $malkar-info-h2-border-color;
  padding: 0.25em 0.625em 0.25em 0;
}
h3{
  font-size: 1.125em;
  font-weight: bold;
  color: $malkar-info-h3-color;
}

.h3-vertical-bar{
  display: none;
}
.trustees-content{
  padding: 0 1.25em 0 0;
}
.trustees-section{
  padding: 0 0 1em 0;
}
.trustee-list{
  display: flex;
  flex-flow: row wrap;
}
.trustee-item{
  width: 45%;
  margin: 0 0 0 1em;
}

@media only screen and (max-width: 641px){
  h2{
    display: none;
  }
  h3{
    position: relative;
    font-size: 1em;
  }
  .h3-vertical-bar{
    display: inline;
    color: $home-charts-title-divider-color; 
    font-style: normal;
    font-size: 0.727272em;
    position: relative;
    top: -3px;
  }
  .trustees-mobile-small{
    font-size: 0.9em;
  }
  .trustees-content{
    padding: 0;
  }
  .trustees-section{
    padding: 0 0.5em 1em 0;
  }
  .trustee-list{
    padding: 0 0.25em 0 0;
  }
  .trustee-item{
    width: 100%;
  }
}