<div class="picklist-container" #picklistWrapper role="application">
  <div class="picklist-caret desktop-show" [ngStyle]="caretStyle"></div>
  <input 
      #picklistInput
      class="picklist-input desktop-show"
      type="text" 
      (keydown.ArrowDown)="arrowDownHit($event)"
      (keydown.ArrowUp)="arrowUpHit($event)"
      (keydown.Escape)="clearList()"
      (keydown.Enter)="clicked($event)"
      (keydown)="keyDown($event)"
      (click)="clicked($event)"
      [placeholder]="placeholder"
      [attr.aria-label]="placeholder"
      [attr.aria-required]="required"
      [ngStyle]="getInputStyle()">
  <div 
      class="picklist-result desktop-show" 
      *ngIf="(showItems && valueList.length>0)" 
      [ngStyle]="itemsContainerStyle"
      role="listbox">
    <div
        #picklistItems
        class="picklist-item-wrapper" 
        *ngFor="let item of valueList trackBy: trackByFunc; let i = index;" 
        [ngStyle]="itemListStyle"
        (click)="itemSelected($event, item)"
        (keydown.Enter)="itemSelected($event, item)"
        (keydown.ArrowDown)="arrowDownHit($event, i)"
        (keydown.ArrowUp)="arrowUpHit($event, i)"
        (keydown.Escape)="clearList()"
        tabindex="0"
        role="listitem">
        <div class="picklist-item" [ngStyle]="itemStyle" *ngIf="item.label" [innerHTML]="item.label"></div>
        <div class="picklist-item" [ngStyle]="itemStyle" *ngIf="!item.label" [innerHTML]="item"></div>
    </div>
  </div>
  <div class="mobile-show select-wrapper" >
    <select class="picklist-input" (change)="itemSelected($event)" [ngStyle]="selectStyle">
      <option value="" disabled selected *ngIf="!notShowPlaceHolderOption">{{placeholder}}</option>
      <option *ngFor="let item of valueList trackBy: trackByFunc; let i = index;" [value]="item.value || item">{{item.label || item}}</option>
    </select>
  </div>
</div>
