$hamburger-layer-height: 6px;
$hamburger-layer-width: 40px;
$hamburger-layer-color: #098289;
$hamburger-layer-border-radius: 0;
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-spacing: 8px;
@import '../../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';