@import "../../../../assets/scss/params.scss";

i{
  color: $table-collapse-arrows-color;
}

.chevron-left{
  animation: rotateCaret 0.5s ease forwards;
  -webkit-animation: rotateCaret 0.5s ease forwards;
}
.chevron-down{
  animation: rotateCaret 0.5s ease forwards;
  -webkit-animation: rotateCaret 0.5s ease forwards;
}
@keyframes rotateCaret {
 to { transform: rotate(-90deg); }
}
@-webkit-keyframes rotateCaret {
  to { -webkit-transform: rotate(-90deg); }
}