.boolean-indicator-container{
  display: flex;
  flex-flow: row nowrap;
  /*align-items: center;*/
  margin-bottom: 0.2em;
}
.boolean-indicator-ico{
  width: 17px;
  height: 16px;
  margin: 0.2em 0 0 0.5em;
}

@media only screen and (max-width: 40.0625em){
  .boolean-indicator-ico{
    width: 24px;
    height: 24px;
    margin: 0 0 0 0.5em;
  }
}